body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .weather-container {
    max-width: 600px;
    margin: 50px auto;
    color:azure;
   background-image: url(cloudy.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  
  button {
    padding: 8px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .weather-info {
    text-align: center;
  }
  
  p {
    margin: 5px 0;
  }
  